<div class="section-inner">
  <h2 class="heading">Formation</h2>
  <div class="content">
    <div class="item" ng-repeat="item in education.items">

      <h3 class="title">
        <i class="fa fa-{{item.type}}"></i>
        {{item.tete}}
      </h3>

      <h4 class="university">
        <a href="{{item.lien}}" target="_blank">{{item.nom}}</a>
        <span class="year">{{item.year}}</span>
      </h4>

      <h4 class="university">
        <spans class="fa fa-info">   {{item.detail}}</spans>
      </h4>

      <h4 class="university">
        <spans class="fa fa-map-marker">   {{item.lieu}}</spans>
      </h4>

    </div>
  </div><!--//content-->
</div><!--//section-inner-->
