<div class="section-inner" xmlns="http://www.w3.org/1999/html" id="Competences">
  <h2 class="heading">Compétences</h2>
  <div class="content">
    <div class="skillset">

      <div class="item row">
        <a class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3" target="_blank">
          <img class="img-responsive project-image" src="assets/images/programmingLanguages/Java.png" alt="Java" />
        </a>
        <div class="desc col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <h3 class="level-title">Java<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Level">Advanced</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="77%">
            </div>
          </div><!--//level-bar-->
        </div><!--//desc-->
      </div><!--//item-->

      <div class="item row">
        <a class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3" target="_blank">
          <img class="img-responsive project-image" src="assets/images/programmingLanguages/cpp.png" alt="C/C++" />
        </a>
        <div class="desc col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <h3 class="level-title">C &amp; C++<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Level">Intermediate</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="60%">
            </div>
          </div><!--//level-bar-->
        </div><!--//desc-->
      </div><!--//item-->

      <div class="item row">
        <a class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3" target="_blank">
          <img class="img-responsive project-image" src="assets/images/programmingLanguages/html.png" alt="HTML 5" />
        </a>
        <div class="desc col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <h3 class="level-title">HTML 5<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Level">Advanced</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>
          </div><!--//level-bar-->
        </div><!--//desc-->
      </div><!--//item-->

      <div class="item row">
        <a class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3" target="_blank">
          <img class="img-responsive project-image" src="assets/images/programmingLanguages/css.png" alt="CSS 3" />
        </a>
        <div class="desc col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <h3 class="level-title">CSS 3<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Level">Advanced</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="82%">
            </div>
          </div><!--//level-bar-->
        </div><!--//desc-->
      </div><!--//item-->

      <div class="item row">
        <a class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3" target="_blank">
          <img class="img-responsive project-image" src="assets/images/programmingLanguages/sql.png" alt="SQL Database" />
        </a>
        <div class="desc col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <h3 class="level-title">SQL<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Level">Intermediate</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="50%">
            </div>
          </div><!--//level-bar-->
        </div><!--//desc-->
      </div><!--//item-->

      <div class="item row">
        <a class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3" target="_blank">
          <img class="img-responsive project-image" src="assets/images/programmingLanguages/php.png" alt="PHP" />
        </a>
        <div class="desc col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <h3 class="level-title">PHP<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Level">Intermediate</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="50%">
            </div>
          </div><!--//level-bar-->
        </div><!--//desc-->
      </div><!--//item-->

      <p class="intro">
      <br/>
      <br class="item row">
        <h4 class="level-title">
          Analyse et conception :
        </h4>
          UML ,  Design Patterns</br>
        <h4  class="level-title">
          </br>  Gestion d’entreprise :
         </h4>
          Gestion du personnel,
          Gestion logistique,
          Comptabilité
      </div><!--//item-->
      </p>
    </div>
  </div><!--//content-->
</div><!--//section-inner-->
